* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.container img {
    margin: 50px;
    margin-top: 70px;
}

.score-container {
    display: flex;
    margin: 30px;
    column-gap: 200px;
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
}

.score-container h2 {
    background-color: #d6bfa865;
    padding: 5px;
}

.mid-container {
    display: flex;
    padding: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.mid-container img {
    justify-self: center;
}

.left-box, .right-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px;
    max-width: 30vw

}

.button-container {
    align-self: center;
    justify-content: center;
    display: 
    flex;
    flex-wrap: wrap;
    gap: 20px;
}

.button-container button {
    color: #ffffff;
    font-family: 'Courier New', "Lucida Console", monospace;
    font-weight: bold;
}

#title {
    font-family: 'Courier New', "Lucida Console", monospace;
    color: #C5A586;
    text-align: center;
    font-size: 40px;
}

#shiba {
    flex: auto;
    width: 400px;
    height: auto;
    max-width: 50vw;
}

.playerMove .computerMove {
    flex: auto;
    width: 200px;
    max-width: 10vw;
}

h2 {
    font-family: 'Courier New', "Lucida Console", monospace;
    color: #6e5b48;
    text-align: center;
    font-size: 25px;
    font-weight: 300;
    width: auto;
}

button {
    border: 2px solid #C5A586;
    background-color: #c5a686b7;
    border-radius: 4px;
    width: 150px;
    height: 50px;
}